@model HomeViewModel
<div>

    <h1> </h1>
</div>

<h1 align="center ">Лучшие автомобили</h1>

<div class="row mt-5 mb-2">
    @{
        foreach (Car car in Model.FavCars)
        {
            @Html.Partial("AllCars", car)
        }
    }
</div>