
    <h1 align="center" > Все автомобили</h1>



    <h3 align="center">@Model.currCategory</h3>

    <div class="container" align ="center">

        <div class="row col-md-12">
            @{
                foreach (Car car in Model.AllCars)
                {
                    @Html.Partial("AllCars", car)
                }
            }
        </div>

    </div>