
    <h1 align="center " >Все автомобили</h1>
    <h3 align="center">@Model.currCategory</h3>

    <div class="container">

        <div class="row col-md">
            @{
                foreach (Car car in Model.AllCars)
                {
                    @Html.Partial("AllCars", car)
                }
            }
        </div>

    </div>